---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.name }}</title>
    <link>{{ site.url }}</link>
    <description>{{ site.description }}</description>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml"/>
    <lastBuildDate>{{ collections.posts[0].date | isoDate }}</lastBuildDate>
    {%- for post in collections.posts | head(20) %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date | isoDate }}</pubDate>
      <description>{{ post.data.excerpt or post.templateContent | excerpt }}</description>
      {%- if post.data.author %}
      <author>{{ post.data.author }}</author>
      {%- endif %}
    </item>
    {%- endfor %}
  </channel>
</rss>
